.spiel {
    display: inline-grid;
    width: 480px;
    height: 390px;
    background-color: cornflowerblue;
    margin: 0 50px;
    padding: 20px;
    grid-template-columns: repeat(7, 50px);
    grid-template-rows: repeat(6, 50px);
    gap: 10px 15px;
    z-index: 1;
}

.feld {
    background-color: white;
    border-radius: 50%;
    z-index: 2;
}

/*
.overlay {
    background-color: black;
    opacity: 0.5;
    position: absolute;
    height: 390px;
    width: 50px;
    bottom: 98px;
    right: 689px;
    visibility: visible;
    z-index: 3;
} */