.spiel {
    display: inline-grid;
    max-width: max-content;
    min-width: 250px;
    width: max-content;
    height: auto;
    background-color: cornflowerblue;
    margin-left: 50px;
    padding: 20px;
    grid-template-columns: repeat(7, 50px);
    grid-template-rows: repeat(6, 50px);
    gap: 10px 15px;
    z-index: 1;
}

.feld {
    background-color: white;
    border-radius: 50%;
    z-index: 2;
}
