div {
    margin-top: 20px;
}

form {
    margin-top: 10px;
    margin-left: 30px;
}

form section {
    margin-top: 10px;
}

form section p {
    margin-left: -10px;
    margin-bottom: 5px;
}

label {
    padding: 0 7px;
}

input[type='submit'] {
    background-color: rgb(0, 180, 0);
    color: #FFFFFF;
    font-size: 20px;
    border-radius: 15px;
    border: grey 1px solid;
    padding: 10px;
    margin-left: -10px;
    margin-top: 20px;
    letter-spacing: 0.2em;
}

input[type='submit']:hover {
    text-decoration: underline;
    cursor: pointer;
}

input[type='submit']:active {
    background-color: green;
}

input[type='submit']:disabled {
    background-color: grey;
    text-decoration: none;
    cursor: inherit;
}