* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Gudea, Garamond, sans-serif;
    margin: 20px;
    line-height: 1.4;
}

h1 {
    font-family: Special Elite, Garamond, sans-serif;
    margin-bottom: 20px;
    text-align: center;
}

main {
    display: flex;
}

footer {
    margin-top: 150px;
}

@media only screen and (max-width: 1000px) {

    main {
        margin-top: 20px;
    }

    form {margin-left: 0;}

    .menue {
        max-width: 300px;
        width: 22%;
    }
}

@media only screen and (max-width: 600px) {

    html, body {
        margin: 2vw;
    }

    main {
        display: block;
        margin-left: 0px;
    }

    footer {
        margin-top: 50px;
    }

    h1 {
        text-align: start;
    }

    form {
        margin-top: 5vw;
        margin-left: 0;
    }

    form section {
        margin-top: 2vw;
    }

    .menue {
        width: 100%;
        margin-top: 5vw;
        margin-bottom: 8vw;
    }

    .anzeige {
        margin-top: 5vw;
    }

    #los {
        margin-top: 7vw;
        padding: 3vw;
    }

    .spiel {
        margin-left: 0px;
        margin-top: 5vw;
        display: grid;
        grid-template-columns: repeat(7, 10.5vw);
        grid-template-rows: repeat(6, 10.5vw);
        gap: 1.1vw 1.6vw;
        padding: 4vw;
        margin: 0;
    }
}
